@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
    /* font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    padding : 2rem;
}

h1,h2,h3 {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
    border-bottom: 1px solid #b0bdb7;
}

ul li , ol li{
    padding: 1em;
    list-style-position: inside;
}
ol.answers {
    list-style: upper-alpha;
}

ol.answers li:hover {
    border: 0.1em solid #08360a;
    background-color: rgb(235, 243, 241);
    padding: 0.9em;
    cursor: pointer;
}

div#section-correct-answer {
    display: none;
}

span#corrct-answer {
    font-weight: bold;
}

div.section {
    margin-top: 2.5em;
}

h2.section {
    margin-top: 1.6em;
}
.box {
    padding: 2em 
}
